.word-art {
  color: #24c0fd;
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa, Strength=1);
  font-size: 4em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  letter-spacing: -0.05em;
  text-shadow: 0.13em -0.13em 0px #0000aa;
  -webkit-text-stroke: 0.01em #0000aa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transform: scaleY(1.5deg) rotate(-3deg) skewX(-6deg);
}
